// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-like-b-2x-name: 'btn_like_b_2x';
$btn-like-b-2x-x: 0px;
$btn-like-b-2x-y: 0px;
$btn-like-b-2x-offset-x: 0px;
$btn-like-b-2x-offset-y: 0px;
$btn-like-b-2x-width: 39px;
$btn-like-b-2x-height: 37px;
$btn-like-b-2x-total-width: 162px;
$btn-like-b-2x-total-height: 42px;
$btn-like-b-2x-image: '../images/sprite_2x.png';
$btn-like-b-2x: (0px, 0px, 0px, 0px, 39px, 37px, 162px, 42px, '../images/sprite_2x.png', 'btn_like_b_2x', );
$btn-like-b-on-2x-name: 'btn_like_b_on_2x';
$btn-like-b-on-2x-x: 59px;
$btn-like-b-on-2x-y: 0px;
$btn-like-b-on-2x-offset-x: -59px;
$btn-like-b-on-2x-offset-y: 0px;
$btn-like-b-on-2x-width: 39px;
$btn-like-b-on-2x-height: 37px;
$btn-like-b-on-2x-total-width: 162px;
$btn-like-b-on-2x-total-height: 42px;
$btn-like-b-on-2x-image: '../images/sprite_2x.png';
$btn-like-b-on-2x: (59px, 0px, -59px, 0px, 39px, 37px, 162px, 42px, '../images/sprite_2x.png', 'btn_like_b_on_2x', );
$btn-like-s-on-2x-name: 'btn_like_s_on_2x';
$btn-like-s-on-2x-x: 118px;
$btn-like-s-on-2x-y: 0px;
$btn-like-s-on-2x-offset-x: -118px;
$btn-like-s-on-2x-offset-y: 0px;
$btn-like-s-on-2x-width: 44px;
$btn-like-s-on-2x-height: 42px;
$btn-like-s-on-2x-total-width: 162px;
$btn-like-s-on-2x-total-height: 42px;
$btn-like-s-on-2x-image: '../images/sprite_2x.png';
$btn-like-s-on-2x: (118px, 0px, -118px, 0px, 44px, 42px, 162px, 42px, '../images/sprite_2x.png', 'btn_like_s_on_2x', );
$sprite-2x-width: 162px;
$sprite-2x-height: 42px;
$sprite-2x-image: '../images/sprite_2x.png';
$sprite-2x-sprites: ($btn-like-b-2x, $btn-like-b-on-2x, $btn-like-s-on-2x, );
$sprite-2x: (162px, 42px, '../images/sprite_2x.png', $sprite-2x-sprites, );


