/****************************************/
/*	Name: 사이니지
/*	PART: reset STYLE
/*	Version: 1.0
/*	Author: Digital Signage TF팀
/*  Description :
/****************************************/

@font-face {
  font-family: 'NanumBarun';
  font-weight: normal;
  font-style: normal;
  src: local("※");
  src: url(../fonts/NanumBareunGothicOTFl.woff) format("woff");
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: NanumBarun, HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
}

body, pre {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  -webkit-text-size-adjust: none;
}

div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td, button, textarea, select, pre {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: top;
}

ul, ol, dl, dt, dd, li {
  list-style: none;
}

table, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: normal;
}

caption {
  display: block;
  text-indent: -9999em;
  overflow: hidden;
  height: 0;
  font-size: 0;
  line-height: 0;
}

fieldset, blockquote, iframe, button {
  border: none;
}

i, em, u, cite {
  font-style: normal;
}

strong, em, b {;
}

a {
  color: #333;
  text-decoration: none;
  outline: none
}

a:hover, a:active {
  text-decoration: none
}

textarea, input, button, select {
  font-family: inherit;
  font-size: inherit;
}

button {
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

button, input[type="submit"], input[type="button"], input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: none;
}

section, nav, article, aside, header, footer, main {
  display: block;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="checkbox"],
input[type="password"],
input[type="file"],
textarea{
  -webkit-appearance: none;
  border-radius: 0;
  color:#999;
}

select, textarea, button {
  webkit-appearance: none;
  border-radius: 0;
  background-color: transparent;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  color:#999;
}
select::-ms-expand {
  display: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
  background-color:transparent;
}
input[type="text"], input[type="search"], input[type="radio"],input[type="number"] {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight:normal;
  color:#999;
}
input::-moz-placeholder { /* Firefox 19+ */
  font-weight:normal;
  color:#999;
}
input:-ms-input-placeholder { /* IE 10+ */
  font-weight:normal;
  color:#999;
}
input:-moz-placeholder { /* Firefox 18- */
  font-weight:normal;
  color:#999;
}
input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  border-radius: 0;
}
input:disabled{
  background-color:#e1e1e1;
}
input {
  border-radius: 0;
}

input:focus, button:focus {
  outline: none;
}

.screen_out {
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 1px;
}

.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal !important;
}

.ico_admin {
  display: block;
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  //background-image: url(../../img/ico-sprite.png);
  //background-repeat: no-repeat
}

/* 스킵네비게이션 */
#adminIndex a {
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}

#adminIndex a:hover, #adminIndex a:focus, #adminIndex a:active {
  top: 0;
  background: #efefef;
}