@import "module/common";

.view_manage {
  .area_search {
    .box_select {
      //&:before {
      //  display: block;
      //  float: left;
      //  content: '';
      //  width: 2px;
      //  height: 20px;
      //  margin: 6px 23px 0;
      //  background-color: #ccc;
      //}
      &.first_item, &.box_noneBefore {
        &:before {
          display: none;
        }
      }
      &.box_noneBefore {
        margin-left: 390px;
      }
    }
    &.little_search {
      .box_select {
        &:before {
          margin:6px 30px 0;
        }
      }
    }
    .box_search{
      float:right;
      margin-left:0;

      //.box_select{
      //  margin-right:20px;
      //}
    }
  }
}

.view_register{
  .area_btn{
    margin-top: 60px;

    .inner_btns{
      display:inline-block;

      button,a{
        display: block;
        float: left;
        width: 240px;
        height: 50px;
        line-height: 50px;
        border-radius: 4px;
      }
    }
  }
  .box_term{
    .inner_calendar{
      width:230px;
      border:0;
      padding:0;
      input{
        width:100%;
        box-sizing: border-box;
      }
    }
    .box_select{
      float:left;
      margin-left:10px;
      .inner_select{
        width:115px;
      }
    }
  }
  .area_manager{
    form{
      overflow:hidden;
    }
    .box_default{
      .inner_series{
        background-color:transparent;
        border:0;
        padding:0;

        .view_text{
          line-height: 32px;
          font-size: 12px;
          color: #333;
          box-sizing: border-box;
          &.txt_blue{
            color:#0f0c81;
            font-weight:bold;
          }
        }
      }
      .inner_select{
        background-color: #e1e1e1;
      }
      .inner_series{
        input[type="text"]{
          background-color: #e1e1e1;
          border: 1px solid #cccccc;
        }
      }
    }
  }
}

.half_form{
  &.right_form{
    .box_textarea{
      .inner_series{
        position:relative;
        width: 660px;
        height: 144px;
        .info_txt{
          position:absolute;
          bottom:0;
          left:0;
          width:658px;
          height:30px;
          padding-right:12px;
          background-color:#f1f1f1;
          border-radius: 0 0 4px 4px ;
          text-align:right;
          line-height:30px;
          box-sizing:border-box;
          font-size:11px;
          color:#999;
        }
      }
    }
  }
}