@import "module/common";
.area_search{

  .chk_series{
    margin-right:67px;

    //&:before{
    //  float: left;
    //  content: '';
    //  width: 2px;
    //  height: 20px;
    //  margin: 6px 100px 0;
    //  background-color: #ccc
    //}
    .inner_title{
      float: left;
      margin-right: 30px;

      strong{
        line-height: 32px;
        font-size: 14px;
        color: #333;
        font-weight:normal;
      }
    }
    .inner_chkbox{
      margin-right:20px;
    }
    .inner_series{
      float:left;
      padding:0;
      border:0;
    }
  }
}
.view_stats{
  .tit_view{
    padding-top:20px;
    margin-top:42px;
    margin-bottom:0;
  }
  .area_board{
    margin-top:0
  }
  .area_search{
    margin:21px 0 50px;
  }
  .inner_select{
    width:400px;
  }
  .area_board{
    .boundary{
      border-right:1px solid #ddd;
    }
    table{
      th{
        height:46px;
      }
      td:last-child{
        text-align:center;
      }
    }
  }
}
//.box_term{
//  &:after{
//    float:left;
//    content:'';
//    width:2px;
//    height:20px;
//    margin: 6px 30px 0;
//    background-color:#ccc;
//  }
//}