@import "module/common";
.view_register{
  .area_regist{

    &:after{
      display:block;
      clear:both;
      content:'';
    }
    .box_series{
      height:32px;
      margin-bottom:30px;

      .inner_series{
        float:left;
        max-width:480px;
        background-color:#fff;
      }
      button{
        width:80px;
        height:32px;
        line-height:32px;;
        background-color:#fff;
      }
      input[type="text"],
      input[type="password"]{
        border:0;
        background-color:transparent;
      }
    }

    .box_select{
      float:left;
      margin-bottom:30px;

      .inner_select{
        float:left;
        width:480px;
        height:32px;
        background-color: #ffffff;
      }
    }

    .third_series{
      width:595px;
      margin-right:180px;
      .inner_series{
        overflow:hidden;
        padding:0;
        border:0;
        background:none;
        width:auto;
      }

      input{
        float:left;
        width:80px;
        padding-left:10px;
        border: solid 1px #cccccc;
        box-sizing:border-box;;
      }
      .txt_dash{
        float:left;
        width:7px;
        line-height:32px;
        margin: 0 6px 0 7px;
      }

    }
    .chk_series{

      .inner_series{
        width:auto;
        border:0;
        padding:0;
        background-color:transparent;
      }
      .inner_chkbox{
        margin-right:60px;
      }
    }
  }
  .inner_title{
    float:left;
    width:60px;
    margin-right:55px;
  }
  .tit_regist{
    float:left;
    font-size:12px;
    font-weight:normal;
    line-height:32px;
    color:#333;
  }
  .area_btn{
    float:left;
    width:100%;
    margin-top:35px;
    padding-bottom:100px;

    .inner_btns{
      display:inline-block;
      clear:both;
      content:'';

      button,a{
        display:block;
        float:left;
        width: 240px;
        height: 50px;
        line-height:50px;
        border-radius: 4px;
      }
    }
  }
}

.view_content{

}

.view_register{
  .box_select{
    margin-right:180px;
  }
  .box_registId{
    margin-right:180px;
    .inner_series{
      width:392px;
    }
  }
  .box_needMargin{
    margin-right:180px;
  }
  .inner_series{
    width:480px;
    height:32px;
  }
  .area_manager{

    .box_registPw{
      .inner_series{
        width:480px;
        background-color:#e1e1e1;
      }
    }
  }
  .area_modify{
    .box_registPw{

      .inner_series{
        padding:0;
        border:0;
        background:transparent;

        button{
          margin:0
        }
      }
    }
  }
  .area_buisnessman{
    margin-bottom:60px;

    .inner_title{
      width:80px
    }
    .box_buisnessNumber,.box_repName,.box_address{
      margin-right:180px;
    }
    .third_series{
      margin-right:200px;
    }
  }
  .area_checkbox{
    .box_series{
      width:100%;
      float:none;

      &:nth-last-child(1){
        .inner_series{
          border-bottom:0;
        }

      }
    }
    .inner_title{
      float:left;

      .tit_regist{
        line-height:61px;
      }
    }
    .inner_series{
      display:inline-block;
      width:auto;
      height:auto;
      border:0;
      border-bottom:1px dashed #ccc;
      padding:23px 2px 21px;

      &:after{
        display:block;
        content:'';
        clear:both;
      }
    }
    .inner_chkbox{
      float:left;
      margin-right:60px;
      width:80px;
      height:16px;

      &:nth-last-child(1){
        margin-right:0;
      }
      input{
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        display:block;
        float:left;
        width:16px;
        height:16px;
        margin-right:6px;
        &:checked{
          background-position:-170px -138px;
        }
      }
      label{
        float:left;
        line-height:18px;
        color:#333;
        font-weight:normal;
      }
    }
  }
  .area_regist{
    .box_default{
      .inner_series{
        background-color:transparent;
        border:0;
        padding:0;
        width:480px;

        .view_text{
          line-height:32px;
          font-size:12px;
          color:#333;
          box-sizing:border-box;
        }
      }
    }
  }

}

