/* line 1, src/scss/style.scss */
body {
	margin: 0;
	padding: 0;
}

/* line 5, src/scss/style.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
	margin: 0;
	padding: 0;
}

/* line 9, src/scss/style.scss */
body a {
	padding: 0;
	margin: 0;
}

/* line 13, src/scss/style.scss */
body p {
	font-size: 12px;
}

/* line 17, src/scss/style.scss */
#wrap {
	position: relative;
	width: 1024px;
	margin: 0 auto;
}

/* line 22, src/scss/style.scss */
#wrap #header {
	overflow: hidden;
}

/* line 24, src/scss/style.scss */
#wrap #header position:relative
.tit_logo {
	float: left;
	font-size: 24px;
	width: 200px;
	height: 100px;
}

/* line 32, src/scss/style.scss */
#wrap #header .user_util {
	float: right;
}

/* line 37, src/scss/style.scss */
#wrap #container .content {
	width: 1024px;
	position: relative;
}

/* line 41, src/scss/style.scss */
#wrap #container .content .visual {
	overflow: hidden;
}

/* line 44, src/scss/style.scss */
#wrap #container .content .visual ul {
	margin-left: -200px;
}

/* line 46, src/scss/style.scss */
#wrap #container .content .visual ul li {
	float: left;
	width: 200px;
}

/* line 50, src/scss/style.scss */
#wrap #container .content .visual ul a {
	display: block;
}

/* line 53, src/scss/style.scss */
#wrap #container .content .visual ul a span {
	display: block;
	background-color: #000;
	font-size: 0;
	line-height: 0;
	padding: 0;
	border-radius: 50%;
}

/* line 61, src/scss/style.scss */
#wrap #container .content .visual ul a span i {
	display: flex;
}

/* line 65, src/scss/style.scss */
#wrap #container .content .visual ul a span span {
	user-select: none;
	display: flex;
	border: 1px solid #000;
}

/* line 72, src/scss/style.scss */
#wrap #container .content .visual ul a div {
	display: flex;
	border-radius: 50%;
	background-color: #fff;
}
